homeassistant/config/.*
homeassistant/config/home-assistant_v2.db*
homeassistant/config/home-assistant.log*

mosquitto/log
mosquitto/config/passwd
mosquitto/data/mosquitto.db

nodered/data/node_modules

.env